<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'PATIENTS.ADD.TITLE' | translate" [items]="[{ label: ('MENUITEMS.PATIENTS.TEXT' | translate), link: '/admin/patients/all-patients' }]" [active_item]="'PATIENTS.ADD.TITLE' | translate"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> {{ 'PATIENTS.INFO' | translate }}</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="patientForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>{{ 'PATIENTS.FIELDS.FIRST_NAME' | translate }}</mat-label>
                    <input matInput formControlName="firstName">
                    <mat-error *ngIf="patientForm.get('firstName')?.hasError('required') && submitted">
                      {{ 'VALIDATION.REQUIRED' | translate:{ field: ('PATIENTS.FIELDS.FIRST_NAME' | translate) } }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>{{ 'PATIENTS.FIELDS.LAST_NAME' | translate }}</mat-label>
                    <input matInput formControlName="lastName">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>{{ 'PATIENTS.FIELDS.GENDER' | translate }}</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option [value]="'male'">
                        {{ 'PATIENTS.OPTIONS.MALE' | translate }}
                      </mat-option>
                      <mat-option [value]="'female'">
                        {{ 'PATIENTS.OPTIONS.FEMALE' | translate }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="patientForm.get('gender')?.hasError('required') && submitted">
                      {{ 'VALIDATION.REQUIRED' | translate:{ field: ('PATIENTS.FIELDS.GENDER' | translate) } }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>{{ 'PATIENTS.FIELDS.MOBILE' | translate }}</mat-label>
                    <input matInput formControlName="phoneNumber" type="number">
                    <mat-error *ngIf="patientForm.get('phoneNumber')?.hasError('required') && submitted">
                      {{ 'VALIDATION.REQUIRED' | translate:{ field: ('PATIENTS.FIELDS.MOBILE' | translate) } }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>{{ 'PATIENTS.FIELDS.ADDRESS' | translate }}</mat-label>
                    <input matInput formControlName="address">
                    <mat-error *ngIf="patientForm.get('address')?.hasError('required') && submitted">
                      {{ 'VALIDATION.REQUIRED' | translate:{ field: ('PATIENTS.FIELDS.ADDRESS' | translate) } }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>{{ 'PATIENTS.FIELDS.CONDITION' | translate }}</mat-label>
                    <input matInput formControlName="condition">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>{{ 'PATIENTS.FIELDS.DOB' | translate }}</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>{{ 'COMMON.EMAIL' | translate }}</mat-label>
                    <input matInput formControlName="email" type="email">
                    <mat-error *ngIf="patientForm.get('email')?.hasError('email') && submitted">
                      {{ 'VALIDATION.EMAIL_INVALID' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>{{ 'PATIENTS.FIELDS.MARITAL' | translate }}</mat-label>
                    <mat-select formControlName="maritalState">
                      <mat-option [value]="'single'">
                        {{ 'PATIENTS.OPTIONS.SINGLE' | translate }}
                      </mat-option>
                      <mat-option [value]="'married'">
                        {{ 'PATIENTS.OPTIONS.MARRIED' | translate }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>{{ 'PATIENTS.FIELDS.BLOOD_GROUP' | translate }}</mat-label>
                    <mat-select formControlName="bloodGroup">
                      <mat-option [value]="'A+'">
                        A+
                      </mat-option>
                      <mat-option [value]="'B+'">
                        B+
                      </mat-option>
                      <mat-option [value]="'O+'">
                        O+
                      </mat-option>
                      <mat-option [value]="'AB+'">
                        AB+
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>{{ 'PATIENTS.FIELDS.BLOOD_PRESSURE' | translate }}</mat-label>
                    <input matInput formControlName="bloodPressure">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>{{ 'PATIENTS.FIELDS.WEIGHT' | translate }}</mat-label>
                    <input matInput formControlName="weight" type="number">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" mat-raised-button type="submit" color="primary">{{ 'COMMON.SUBMIT' | translate }}</button>
                  <button type="button" mat-raised-button color="warn" (click)="onCancel()">{{ 'COMMON.CANCEL' | translate }}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
