<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Edit Patient'" [items]="['Patients']" [active_item]="'Edit Patient'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> Patient Information</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="patientForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName" required>
                    <mat-error *ngIf="patientForm.get('firstName')?.hasError('required')">
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastName">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option [value]="'male'">
                        Male
                      </mat-option>
                      <mat-option [value]="'female'">
                        Female
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="patientForm.get('gender')?.hasError('required')">
                      Gender is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput formControlName="phoneNumber" type="number" required>
                    <mat-error *ngIf="patientForm.get('maritalState')?.hasError('required')">
                      Phone Number is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address" required></textarea>
                    <mat-error *ngIf="patientForm.get('address')?.hasError('required')">
                      Address is  required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Injury/Condition</mat-label>
                    <input matInput formControlName="condition" required>
                    <mat-error *ngIf="patientForm.get('condition')?.hasError('required')">
                      Injury/Condition is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthDate">
                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="patientForm.get('birthDate')?.hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email">
                    <mat-error *ngIf="patientForm.get('email')?.hasError('email') && patientForm.get('email')?.touched">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Marital Status</mat-label>
                    <mat-select formControlName="maritalState">
                      <mat-option [value]="'1'">
                        Single
                      </mat-option>
                      <mat-option [value]="'2'">
                        Married
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="patientForm.get('maritalState')?.hasError('required')">
                      Select Any
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Blood Group</mat-label>
                    <mat-select formControlName="bloodGroup">
                      <mat-option [value]="'A+'">
                        A+
                      </mat-option>
                      <mat-option [value]="'B+'">
                        B+
                      </mat-option>
                      <mat-option [value]="'O+'">
                        O+
                      </mat-option>
                      <mat-option [value]="'AB+'">
                        AB+
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="patientForm.get('bloodGroup')?.hasError('required')">
                      Blood Group is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Blood Presure</mat-label>
                    <input matInput formControlName="bloodPressure">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!patientForm.valid " mat-raised-button
                    color="primary">Submit</button>
                  <button type="button" mat-raised-button color="warn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
