<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Profile'" [items]="['Doctors']" [active_item]="'Profile'"></app-breadcrumb>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">DR.{{this.doctor.name}}</div>
                <!--<div class="name-center">Senior Doctor</div>-->
              </div>
              <div class="card">
                <div class="contact-grid profile-image">
                <img class="user-img" [src]=" isNullOrUndefined(this.doctor.img) ? 'assets/images/patient/patient-default-profile.png' : this.doctor.img" (click)="this.showUploadProfilePicture = !this.showUploadProfilePicture" alt="">
                </div>
                <div class="full-body" *ngIf="this.showUploadProfilePicture">
                  <app-file-upload rootFolder="doctors/{{this.doctor.email}}/images" accept="image/*" (downloadUrl)="this.updateDoctorProfilePicture($event)"></app-file-upload>
                </div>
              </div>
              <p>
                {{this.doctor.address}}
              </p>
              <div>
                <span class="phone">
                  <i class="material-icons">phone</i>{{this.doctor.phoneNumber}}</span>
              </div>
            </div>
          </div>
        </div>
        <!--Secretaries Section-->
        <div class="card">
          <div class="header">
            <h2><strong>Secretaries</strong></h2>
          </div>
          <div class="body">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let secretary of this.doctorSecretaries">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{secretary.name}}
                  </mat-panel-title>
                  <mat-panel-description>

                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <p>{{secretary.email}}</p>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
            <!--Profile Section-->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                About Me
              </ng-template>
              <!--About Me Section-->
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>About</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Full Name</strong>
                        <br>
                        <p class="text-muted">{{this.doctor.name}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Mobile</strong>
                        <br>
                        <p class="text-muted">{{this.doctor.phoneNumber}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted">{{this.doctor.email}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Location</strong>
                        <br>
                        <p class="text-muted">{{this.doctor.address}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--About Section-->
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-editable-text headerText="About"  [bodyText]="this.doctor.about"  (bodyTextEdited)="editDoctorAbout($event)"></app-editable-text>
              </div>
              <!--Education Section-->
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-editable-text headerText="Education"  [bodyText]="this.doctor.education"  (bodyTextEdited)="editDoctorEducation($event)"></app-editable-text>
              </div>
              <!--Experience Section-->
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-editable-text headerText="Experience"  [bodyText]="this.doctor.experience"  (bodyTextEdited)="editDoctorExperience($event)"></app-editable-text>
              </div>
            </mat-tab>
            <!--Settings Section-->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                Settings
              </ng-template>
              <!--Account Settings-->
              <div class="header">
                <h2>
                  <strong>Account</strong> Settings
                </h2>
              </div>
              <div class="body">
                <form [formGroup]="accountSettingsForm" (ngSubmit)="editDoctorSettings()">
                  <div class="row clearfix">
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Full Name</mat-label>
                          <input matInput formControlName="name" required>
                          <mat-error *ngIf="accountSettingsForm.get('name')?.errors">
                            Name can't be less than 6 digits
                          </mat-error>
                          <mat-error *ngIf="accountSettingsForm.get('name')?.hasError('required')">
                            Full Name is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Phone Number</mat-label>
                          <input matInput formControlName="phoneNumber">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Address</mat-label>
                          <textarea matInput formControlName="address" ></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button mat-raised-button color="primary" type="submit" [disabled]="!accountSettingsForm.valid ">Save Changes</button>
                    </div>
                  </div>
                </form>
              </div>
              <!--Secretaries Settings-->
              <div class="header">
                <h2>
                  <strong>Secretaries</strong> Settings
                </h2>
              </div>
              <div class="body">
                <div class="d-flex justify-content-between align-items-center">
                  <mat-form-field class="example-full-width" appearance="fill" >
                    <mat-label>Secretary Email</mat-label>
                    <input matInput [(ngModel)]="connectSecretaryEmail">
                  </mat-form-field>
                  <div class="m-l-10" matTooltip="ADD">
                    <button mat-fab color="primary" (click)="connectSecretary()">
                      <mat-icon class="col-white">add</mat-icon>
                    </button>
                  </div>
                  <div class="m-l-10" matTooltip="DELETE">
                    <button mat-fab color="warn" (click)="disconnectSecretary()">
                      <mat-icon class="col-white">delete
                      </mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
