<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'MENUITEMS.DASHBOARD.TEXT' | translate" [items]="[]" [active_item]="'MENUITEMS.DASHBOARD.TEXT' | translate"></app-breadcrumb>
    </div>
    <app-onboarding-checklist></app-onboarding-checklist>
    <div class="dashboard-filters">
      <div class="range-display">
        <span class="range-label" dir="auto">{{ selectedRangeLabel }}</span>
        <span *ngIf="!isCurrentRange" class="range-divider"></span>
        <button
          *ngIf="!isCurrentRange"
          mat-button
          type="button"
          class="current-range-button"
          (click)="resetToCurrentRange()"
        >
          <mat-icon>restore</mat-icon>
          <span>{{ currentRangeButtonLabel | translate }}</span>
        </button>
      </div>
      <div class="filter-controls">
        <button mat-icon-button type="button" (click)="prevRange()" aria-label="Previous range">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button
          mat-button
          class="filter-button"
          *ngFor="let range of rangeOptions"
          [class.active]="selectedRange === range.id"
          (click)="setRange(range.id)"
        >
          {{ range.label | translate }}
        </button>
        <button
          mat-icon-button
          type="button"
          class="nav-range-button"
          [class.nav-range-button--hidden]="!canGoNext"
          (click)="nextRange()"
          aria-label="Next range"
          [attr.aria-hidden]="!canGoNext"
          [tabindex]="canGoNext ? 0 : -1"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row">
      <!-- New Patients -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card card-statistic-2 dashboard-card" [routerLink]="['/admin/patients/all-patients']" role="button">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-green">
              <i class="material-icons align-middle">person_add</i>
            </div>
            <div class="card-right">
              <div>
                <h3 class="float-end">{{ 'DASHBOARD.NEW_PATIENTS' | translate }}</h3>
              </div>
              <div class="m-r-10 m-l-10">
                <h1 class="font-weight-bold float-end mb-0"> {{numberOfNewPatients}}</h1>
              </div>
            </div>
          </div>
          <apx-chart [series]="newPatientsChartOptions.series!" [chart]="newPatientsChartOptions.chart!"
                     [xaxis]="newPatientsChartOptions.xaxis!" [yaxis]="newPatientsChartOptions.yaxis!"
                     [colors]="newPatientsChartOptions.colors!" [stroke]="newPatientsChartOptions.stroke!"
                     [legend]="newPatientsChartOptions.legend!" [tooltip]="newPatientsChartOptions.tooltip!"
                     [dataLabels]="newPatientsChartOptions.dataLabels!"></apx-chart>
        </div>
      </div>
      <!-- Appointments -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card card-statistic-2 dashboard-card" [routerLink]="['/calendar']" role="button">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-purple">
              <i class="material-icons align-middle">face</i>
            </div>
            <div class="card-right">
              <div>
                <h3 class="float-end">{{ 'DASHBOARD.APPOINTMENTS' | translate }}</h3>
              </div>
              <div class="m-r-10 m-l-10">
                <h1 class="font-weight-bold float-end mb-0"> {{numberOfAppointments}}</h1>
              </div>
            </div>
          </div>
          <apx-chart [series]="appointmentsChartOptions.series!" [chart]="appointmentsChartOptions.chart!"
                     [xaxis]="appointmentsChartOptions.xaxis!" [yaxis]="appointmentsChartOptions.yaxis!"
                     [colors]="appointmentsChartOptions.colors!" [stroke]="appointmentsChartOptions.stroke!"
                     [legend]="appointmentsChartOptions.legend!" [tooltip]="appointmentsChartOptions.tooltip!"
                     [dataLabels]="appointmentsChartOptions.dataLabels!"></apx-chart>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Treatments -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card card-statistic-2 dashboard-card" [routerLink]="['/admin/dashboard/treatments']" role="button">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-orange">
              <i class="material-icons align-middle">content_cut</i>
            </div>
            <div class="card-right">
              <div>
                <h3 class="float-end">{{ 'DASHBOARD.TREATMENTS' | translate }}</h3>
              </div>
              <div class="m-r-10 m-l-10">
                <h1 class="font-weight-bold float-end mb-0"> {{this.numberOfTreatments}} </h1>
              </div>
            </div>
          </div>
          <apx-chart [series]="treatmentsChartOptions.series!" [chart]="treatmentsChartOptions.chart!"
                     [xaxis]="treatmentsChartOptions.xaxis!" [yaxis]="treatmentsChartOptions.yaxis!"
                     [colors]="treatmentsChartOptions.colors!" [stroke]="treatmentsChartOptions.stroke!"
                     [legend]="treatmentsChartOptions.legend!" [tooltip]="treatmentsChartOptions.tooltip!"
                     [dataLabels]="treatmentsChartOptions.dataLabels!"></apx-chart>
        </div>
      </div>
      <!-- Earning -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card card-statistic-2 dashboard-card" [routerLink]="['/admin/dashboard/earnings']" role="button">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-blue">
              <i class="material-icons align-middle">local_activity</i>
            </div>
            <div class="card-right">
              <div>
                <h3 class="float-end">{{ 'DASHBOARD.EARNING' | translate }}</h3>
              </div>
              <div class="m-r-10 m-l-10">
                <h1 class="font-weight-bold float-end mb-0"> {{ 'DASHBOARD.EARNING_VALUE' | translate:{ value: numberOfEarning.toLocaleString() } }}</h1>
              </div>
            </div>
          </div>
          <apx-chart [series]="earningChartOptions.series!" [chart]="earningChartOptions.chart!"
                     [xaxis]="earningChartOptions.xaxis!" [yaxis]="earningChartOptions.yaxis!"
                     [colors]="earningChartOptions.colors!" [stroke]="earningChartOptions.stroke!"
                     [legend]="earningChartOptions.legend!" [tooltip]="earningChartOptions.tooltip!"
                     [dataLabels]="earningChartOptions.dataLabels!"></apx-chart>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
  </div>
</section>
