<div class="file-drop-area" [class.file-drop-area--busy]="isBusy">
  <span>{{ file ? file.name : ('SHARED.FILE_UPLOAD.DROP_HINT' | translate) }}</span>
  <input
    class="file-input"
    type="file"
    [accept]="accept"
    [disabled]="isBusy"
    (change)="uploadFile($event)"
  />
  <p *ngIf="showOptimizationHint" class="upload-hint">
    {{ 'SHARED.FILE_UPLOAD.MAX_OPTIMIZED' | translate }}
  </p>
  <p *ngIf="!showOptimizationHint" class="upload-hint">
    {{ 'SHARED.FILE_UPLOAD.MAX_PRESERVED' | translate }}
  </p>

  <div *ngIf="isPreparing" class="upload-preparing">
    <mat-spinner diameter="28"></mat-spinner>
    <span>{{ 'SHARED.FILE_UPLOAD.OPTIMIZING' | translate }}</span>
  </div>

  <mat-progress-bar
    *ngIf="!isPreparing && progressPercentageField > 0 && progressPercentageField < 100"
    mode="determinate"
    [value]="progressPercentageField"
  ></mat-progress-bar>

  <ng-container *ngIf="progressPercentageField === 100 && file">
    <h4 class="m-b-20">
      <span class="label label-success">{{ 'SHARED.FILE_UPLOAD.UPLOADED' | translate }}</span>
    </h4>
    <p *ngIf="preparationSummary?.compressed" class="upload-summary">
      {{ 'SHARED.FILE_UPLOAD.OPTIMIZED' | translate }}
      {{ formatBytes(preparationSummary!.originalSize) }}
      →
      {{ formatBytes(preparationSummary!.finalSize) }}
    </p>
  </ng-container>
</div>
