/* Style SVG paths for teeth */
path {
  fill-opacity:0.0;
}

/* Highlight hovered tooth */
path:hover {
  fill: #706d6d;
  fill-opacity:0.5;
}

/* Highlight selected tooth */
path.selected {
  fill: #e01717;
  fill-opacity:1;
}

