<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Profile'" [items]="['Patients']" [active_item]="'Profile'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="contact-grid profile-image">
            <img src="assets/images/user/usrbig4.jpg" alt="">
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h2>About Patient</h2>
          </div>
          <div class="tab-pane body active" id="about">
            <small class="text-muted">Email address: </small>
            <p>{{patient.email}}</p>
            <hr>
            <small class="text-muted">Phone: </small>
            <p>{{patient.phoneNumber}}</p>
            <hr>
            <small class="text-muted">Address: </small>
            <p>{{patient.address}}</p>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                About {{patient.firstName}}
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>About</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Full Name</strong>
                        <br>
                        <p class="text-muted">{{patient.firstName}} {{patient.lastName}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Mobile</strong>
                        <br>
                        <p class="text-muted">{{patient.phoneNumber}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted">{{patient.email}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Location</strong>
                        <br>
                        <p class="text-muted">{{patient.address}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Gender</strong>
                        <br>
                        <p class="text-muted">{{patient.gender}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Marital Status</strong>
                        <br>
                        <p class="text-muted">{{patient.maritalState}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Birth Date</strong>
                        <br>
                        <p class="text-muted">{{patient.birthDate}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Blood Group</strong>
                        <br>
                        <p class="text-muted">{{patient.bloodGroup}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Blood Pressure</strong>
                        <br>
                        <p class="text-muted">{{patient.bloodPressure}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Condition</strong>
                        <br>
                        <p class="text-muted">{{patient.condition}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                Settings
              </ng-template>
              <div class="header">
                <h2>
                  <strong>Account</strong> Settings
                </h2>
              </div>
              <div class="body">
                <div class="row">
                  <div class="col-lg-4 col-md-12">
                    <button mat-raised-button color="primary" (click)='goToEditPage()' >Edit Patient</button>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <button mat-raised-button color="warn" (click)="deletePatient()" >Delete Patient</button>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
