<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Profile'" [items]="['Patients']" [active_item]="'Profile'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <!--Patient Image-->
        <div class="card">
          <div class="contact-grid profile-image">
            <app-full-screen-image [imgUrl]="this.patient.img === '' ? 'assets/images/patient/patient-default-profile.png' : this.patient.img" ></app-full-screen-image>
          </div>
        </div>
        <!--Balance Section-->
        <div class="card">
          <div class="header">
            <h2>Balance</h2>
          </div>
          <div class="tab-pane body active" id="balance">
            <small class="text-muted">Treatments Cost </small>
            <p style="color: green;" >{{this.getTreatmentsCost()}}</p>
            <hr>
            <small class="text-muted">Payments Amount </small>
            <p style="color: red;">-{{this.getPaymentsAmount()}}</p>
            <hr>
            <small class="text-muted">Total Balance</small>
            <p *ngIf="this.getTreatmentsCost() >= this.getPaymentsAmount()" style="color: green">
              {{this.getTreatmentsCost() - this.getPaymentsAmount()}}
            </p>
            <p *ngIf="this.getTreatmentsCost() < this.getPaymentsAmount()" style="color: red">
              {{this.getTreatmentsCost() - this.getPaymentsAmount()}}
            </p>
          </div>
          <button mat-button class="basic-btn" (click)="this.getBalanceDetails()" >More Details</button>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <!--Information Section-->
        <div class="card">
          <div class="header">
            <h2>Information Section</h2>
          </div>
          <div class="body">
            <mat-tab-group dynamicHeight>
              <!--About-->
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                  About {{patient.firstName}}
                </ng-template>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="project_widget">
                    <div class="body">
                      <div class="row">
                        <div class="col-md-3 col-6 b-r">
                          <strong>Full Name</strong>
                          <br>
                          <p class="text-muted">{{patient.firstName}} {{patient.lastName}}</p>
                        </div>
                        <div class="col-md-3 col-6 b-r">
                          <strong>Mobile</strong>
                          <br>
                          <p class="text-muted">{{patient.phoneNumber}}</p>
                        </div>
                        <div class="col-md-3 col-6 b-r">
                          <strong>Email</strong>
                          <br>
                          <p class="text-muted">{{patient.email}}</p>
                        </div>
                        <div class="col-md-3 col-6">
                          <strong>Location</strong>
                          <br>
                          <p class="text-muted">{{patient.address}}</p>
                        </div>
                        <div class="col-md-3 col-6">
                          <strong>Gender</strong>
                          <br>
                          <p class="text-muted">{{patient.gender}}</p>
                        </div>
                        <div class="col-md-3 col-6">
                          <strong>Marital Status</strong>
                          <br>
                          <p class="text-muted">{{patient.maritalState}}</p>
                        </div>
                        <div class="col-md-3 col-6">
                          <strong>Birth Date</strong>
                          <br>
                          <p class="text-muted">{{patient.birthDate.toDate().toLocaleDateString()}}</p>
                        </div>
                        <div class="col-md-3 col-6">
                          <strong>Blood Group</strong>
                          <br>
                          <p class="text-muted">{{patient.bloodGroup}}</p>
                        </div>
                        <div class="col-md-3 col-6">
                          <strong>Blood Pressure</strong>
                          <br>
                          <p class="text-muted">{{patient.bloodPressure}}</p>
                        </div>
                        <div class="col-md-3 col-6">
                          <strong>Condition</strong>
                          <br>
                          <p class="text-muted">{{patient.condition}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <!--Settings-->
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                  Settings
                </ng-template>
                <div class="header">
                  <h2>
                    <strong>Account</strong> Settings
                  </h2>
                </div>
                <div class="body">
                  <div class="row">
                    <div class="col-lg-4 col-md-12">
                      <button mat-raised-button color="primary" (click)='goToEditPage()' >Edit Patient</button>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <button mat-raised-button color="warn" (click)="deletePatient()" >Delete Patient</button>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <!--Appointments Section-->
        <div class="card">
          <div class="header">
            <h2>Appointments Section</h2>
          </div>
          <div class="body">
            <mat-tab-group dynamicHeight>
              <!--All Appointments-->
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon msr-2">my_library_books</mat-icon>
                  All Appointments
                </ng-template>
                <div class="body">
                  <mat-accordion>
                    <mat-expansion-panel *ngFor="let appointment of this.patientAppointments">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <mat-icon class="example-tab-icon msr-2">date_range</mat-icon>
                          {{appointment.date.toDate().toDateString()}}
                        </mat-panel-title>
                        <mat-panel-description>
                          <mat-icon class="example-tab-icon msr-2">access_time</mat-icon>
                          {{appointment.time.toDate().toLocaleTimeString()}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <p>{{appointment.details}}</p>
                        </div>
                        <div class="col-lg-6 col-md-12">
                          <mat-slide-toggle [checked]=appointment.attended (change)="changeAppointmentAttended($event, appointment)">
                            <ng-container *ngIf="appointment.attended">
                              Patient attended
                            </ng-container>
                            <ng-container *ngIf="!appointment.attended">
                              Patient did not attend
                            </ng-container>
                          </mat-slide-toggle>
                        </div>
                        <div class="col-lg-6 col-md-12">
                          <mat-slide-toggle [checked]=appointment.costPaid (change)="changeAppointmentCostPaid($event, appointment); ">
                            <ng-container *ngIf="appointment.costPaid">
                              {{appointment.cost}} NIS Paid
                            </ng-container>
                            <ng-container *ngIf="!appointment.costPaid">
                              {{appointment.cost}} NIS Unpaid
                            </ng-container>
                          </mat-slide-toggle>
                        </div>
                        <div class="col-lg-3 col-md-12">
                          <button mat-raised-button color="warn" (click)="deleteAppointment(appointment)" >Delete</button>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </mat-tab>
              <!--Add Appointment-->
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon msr-2">my_library_add</mat-icon>
                  Add Appointment
                </ng-template>
                <div class="body">
                  <form class="register-form m-4" [formGroup]="appointmentForm">
                    <div class="row clearfix">
                      <!--date-->
                      <div class="col-lg-6 col-md-12">
                        <mat-form-field class="example-full-width">
                          <mat-label>Choose a date</mat-label>
                          <input matInput  [matDatepicker]="picker1" formControlName="date" required>
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                          <mat-error *ngIf="this.appointmentForm.get('date')?.hasError('required')">
                            Date is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <!--time-->
                      <div class="col-lg-6 col-md-12">
                        <mat-form-field class="example-full-width mb-3">
                          <mat-label>Choose a time</mat-label>
                          <input matInput [owlDateTimeTrigger]="time1" [owlDateTime]="time1" formControlName="time">
                          <mat-icon matSuffix [owlDateTimeTrigger]="time1" class="date-icon" >schedule</mat-icon>
                          <owl-date-time [pickerType]="'timer'" #time1 [hour12Timer]="true"></owl-date-time>
                        </mat-form-field>
                      </div>
                      <!--details-->
                      <div class="col-lg-12 col-md-12">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Appointment Details</mat-label>
                          <textarea matInput formControlName="details"></textarea>
                        </mat-form-field>
                      </div>
                      <!--cost and constPaid-->
                      <div class="col-lg-6 col-md-12">
                        <mat-form-field class="example-full-width">
                          <mat-label>Appointment Cost</mat-label>
                          <input matInput formControlName="cost" type="number">
                          <mat-slide-toggle  formControlName="costPaid" >
                            <ng-container *ngIf="this.appointmentForm.get('costPaid')?.value">
                              Paid
                            </ng-container>
                            <ng-container *ngIf="!this.appointmentForm.get('costPaid')?.value">
                              Unpaid
                            </ng-container>
                          </mat-slide-toggle>
                        </mat-form-field>
                      </div>
                      <!--attended-->
                      <div class="col-lg-6 col-md-12">
                        <mat-slide-toggle  formControlName="attended" >
                          <ng-container *ngIf="this.appointmentForm.get('attended')?.value">
                            Patient attended
                          </ng-container>
                          <ng-container *ngIf="!this.appointmentForm.get('attended')?.value">
                            Patient did not attend
                          </ng-container>
                        </mat-slide-toggle>
                      </div>
                      <!--button-->
                      <div class="col-lg-12 col-md-12">
                        <button mat-raised-button color="primary" (click)="addAppointment()">Add Appointment</button>
                      </div>
                    </div>
                  </form>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <!--Payments/Treatments Section-->
        <div class="card">
          <div class="header">
            <h2>Payments/Treatments Section</h2>
          </div>
          <div class="body">
            <mat-tab-group dynamicHeight>
              <!--All Payments-->
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon msr-2">payment</mat-icon>
                  All Payments
                </ng-template>
                <div class="body">
                  <mat-accordion>
                    <mat-expansion-panel *ngFor="let payment of this.patientPayments">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <mat-icon class="example-tab-icon msr-2">date_range</mat-icon>
                          {{payment.date.toDate().toDateString()}}
                        </mat-panel-title>
                        <mat-panel-description>
                          <mat-icon class="example-tab-icon msr-2">payment</mat-icon>
                          {{payment.amount}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <p>{{payment.details}}</p>
                        </div>
                        <div class="col-lg-3 col-md-12">
                          <button mat-raised-button color="warn" (click)="deletePayment(payment)" >Delete</button>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </mat-tab>
              <!--All Treatments-->
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon msr-2">healing</mat-icon>
                  All Treatments
                </ng-template>
                <div class="body">
                  <mat-accordion>
                    <mat-expansion-panel *ngFor="let treatment of this.patientTreatments">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <mat-icon class="example-tab-icon msr-2">date_range</mat-icon>
                          {{treatment.date.toDate().toDateString()}}
                        </mat-panel-title>
                        <mat-panel-description>
                          <mat-icon class="example-tab-icon msr-2">payment</mat-icon>
                          {{treatment.price}} NIS with {{treatment.discount}} discount
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <p>{{treatment.details}}</p>
                        </div>
                        <div class="col-lg-3 col-md-12">
                          <button mat-raised-button color="warn" (click)="deleteTreatment(treatment)" >Delete</button>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </mat-tab>
              <!--Add Payment/Treatment-->
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon msr-2">my_library_add</mat-icon>
                  Add Payment/Treatment
                </ng-template>
                <div class="body">
                  <mat-accordion>
                    <!--Add Payment-->
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <mat-icon class="example-tab-icon msr-2">payment</mat-icon>
                          Add Payment
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="body">
                        <form class="register-form m-4" [formGroup]="paymentForm">
                          <div class="row clearfix">
                            <!--amount-->
                            <div class="col-lg-6 col-md-12">
                              <mat-form-field class="example-full-width">
                                <mat-label>Amount</mat-label>
                                <input matInput  type="number" formControlName="amount" required>
                                <mat-error *ngIf="this.paymentForm.get('amount')?.hasError('required')">
                                  Amount is required
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <!--date-->
                            <div class="col-lg-6 col-md-12">
                              <mat-form-field class="example-full-width">
                                <mat-label>Choose a date</mat-label>
                                <input matInput  [matDatepicker]="picker2" formControlName="date" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                                <mat-error *ngIf="this.paymentForm.get('date')?.hasError('required')">
                                  Date is required
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <!--details-->
                            <div class="col-lg-12 col-md-12">
                              <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Payment Details</mat-label>
                                <textarea matInput formControlName="details"></textarea>
                              </mat-form-field>
                            </div>
                            <!--button-->
                            <div class="col-lg-12 col-md-12">
                              <button mat-raised-button color="primary" (click)="addPayment()">Add Payment</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </mat-expansion-panel>
                    <!--Add Treatment-->
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <mat-icon class="example-tab-icon msr-2">healing</mat-icon>
                          Add Treatment
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="body">
                        <form class="register-form m-4" [formGroup]="treatmentForm">
                          <div class="row clearfix">
                            <!--price-->
                            <div class="col-lg-6 col-md-12">
                              <mat-form-field class="example-full-width">
                                <mat-label>Price</mat-label>
                                <input matInput formControlName="price" type="number" required>
                                <mat-error *ngIf="this.treatmentForm.get('price')?.hasError('required')">
                                  Price is required
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <!--discount-->
                            <div class="col-lg-6 col-md-12">
                              <mat-form-field class="example-full-width">
                                <mat-label>Discount</mat-label>
                                <input matInput formControlName="discount" type="number">
                              </mat-form-field>
                            </div>
                            <!--date-->
                            <div class="col-lg-6 col-md-12">
                              <mat-form-field class="example-full-width">
                                <mat-label>Choose a date</mat-label>
                                <input matInput  [matDatepicker]="picker3" formControlName="date" required>
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                                <mat-error *ngIf="this.treatmentForm.get('date')?.hasError('required')">
                                  Date is required
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <!--details-->
                            <div class="col-lg-12 col-md-12">
                              <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Treatment Details</mat-label>
                                <textarea matInput formControlName="details"></textarea>
                              </mat-form-field>
                            </div>
                            <!--button-->
                            <div class="col-lg-12 col-md-12">
                              <button mat-raised-button color="primary" (click)="addTreatment()">Add Trearment</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <!--Specialized Forms Section-->
        <div class="card">
          <div class="header">
            Specialized Forms Section
          </div>
          <div class="body">
            <div class="row">
              <div class="col-lg-8 col-md-12">
                <mat-form-field class="example-full-width " appearance="outline">
                  <mat-label>Available Diagrams</mat-label>
                  <mat-select [(value)]="this.selectedDiagram">
                    <mat-optgroup [label]="'Dentist'">
                      <mat-option [value]="'adultTeethDiagram'"    [disabled]="this.patient.specialDiagrams.adultTeethDiagram.length > 0" >Universal Teeth Diagram </mat-option>
                      <!--<mat-option [value]="'childrenTeethDiagram'" [disabled]="this.patient.specialDiagrams.childrenTeethDiagram.length > 0" >Palmer Teeth Diagram </mat-option>-->
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-md-12">
                <button mat-raised-button color="primary" (click)="this.addSpecialDiagram()">Create</button>
              </div>
            </div>
            <mat-tab-group>
              <mat-tab *ngIf="this.patient.specialDiagrams.adultTeethDiagram.length > 0">
                <ng-template mat-tab-label>
                    <div class="icon-preview msr-2"><i class="fas fa-teeth-open"></i></div>
                  Adult Teeth Diagram
                </ng-template>
                <div class="body" >
                  <app-adult-teeth-diagram></app-adult-teeth-diagram>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
