/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Noto Naskh Arabic';
  src: url('assets/fonts/noto-naskh-arabic/NotoNaskhArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

[dir='rtl'],
body.rtl {
  font-family: 'Noto Naskh Arabic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
