<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'MENUITEMS.CALENDAR.TEXT' | translate" [items]="[]" [active_item]="'MENUITEMS.CALENDAR.TEXT' | translate"></app-breadcrumb>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="panel-body">
              <full-calendar [options]='calendarOptions'></full-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
