<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="breadcrumb">
            <!-- <li>
                <h4 class="page-title">{{title}}</h4>
            </li> -->
            <li class="breadcrumb-item bcrumb-1">
                <a [routerLink]="'/admin/dashboard/main'">
                    <!-- <i class="fas fa-home"></i>   -->
                    <i-feather name="home" class="breadcrumb-icon"></i-feather>
                </a>
            </li>
            @for (item of items; track $index) {
            <li class="breadcrumb-item">
                @if (asItem(item).link) {
                <a [routerLink]="asItem(item).link">{{asItem(item).label}}</a>
                } @else {
                {{asItem(item).label}}
                }
            </li>
            }
            <li class="breadcrumb-item active">{{active_item}}</li>
        </ul>
    </div>
</div>