/* Style SVG paths for teeth */
path {
  fill-opacity:0.0;
}

/* Highlight hovered tooth */
path:hover {
  // fill: #706d6d;
  // fill-opacity:0.5;
  stroke: #000;
  stroke-width: 2;
}

/* Highlight selected tooth (!important beats [ngStyle] fill on the path) */
path.selected {
  // fill: #706d6d;
  // fill-opacity:0.5;
  stroke: #3F51B5;
  stroke-width: 3;
}

